#sort-field
  = select_tag "order_by", options_for_select([["タイトル(昇順)", "title asc"], ["タイトル(降順)", "title desc"], ["投稿日(新しい順)", "nico_posted_at desc"], ["投稿日(古い順)", "nico_posted_at asc"], ["マイリスト(多い順)", "nico_mylist_count desc"], ["マイリスト(少ない順)", "nico_mylist_count asc"]])
  %button.btn.btn-default 並び換え
