@import "compass_load";

#facet-tags {
  margin-top: 20px;
  padding: 10px;
  padding-top: 2px;
  background-color: #FAFAFA;
  @include zurui-box-emboss;
}

#current-filter-tags {
  @include zurui-box-emboss;
  background-color: #FAFAFA;
  padding: 10px 4px 10px 4px;
  margin-bottom: 6px;

  span {
    line-height: 20px;
  }
}

.facet-tag {
  margin-left: 10px;
  line-height: 120%;
  color: #0088cc;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.info-tag {
  @extend .facet-tag;
  margin-left: 0;
  margin-right: 10px;
}

#tag-search {
  input {
    @media #{$small} {
      width: 140px;
    }
    @media #{$middle} {
      width: 240px;
    }
    @media #{$large} {
      width: 360px;
    }
  }
}
