@import "compass_load";

video.preview {
  @media #{$small} {
    width: 240px;
    height: 180px;
  }

  @media #{$middle} {
    width: 480px;
    height: 320px;
  }

  @media #{$large} {
    width: 640px;
    height: 480px;
  }
}

#video-layer {
  z-index: 1000;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  Background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
}
.fullscreen {
  width: 100%;
  height: 100%;
}
