@import "bootstrap";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography/lists/horizontal-list";
@import "zurui-sass";

body {
  background-image: url(sitebg.jpg);
}

#site-title {
  color: white;
  margin-left: 20px;
  span {
    font-size: larger;
    color: #ff6633;
    letter-spacing: -8px;
  }
}

footer {
  color: white;
}

#main {
  color: #222;
  background-color: #EDEAEB;
  @include zurui-box-emboss;

  margin: {
    left: 10px;
    right: 10px;
  }

  padding-bottom: 10px;
}

ul.nav {
  @include zurui-gradient-top-darken;
  @include zurui-line-bottom;
  @include horizontal-list;
  height: 48px;

  li {
    vertical-align: middle;
    height: 48px;
    @include zurui-line-right;

    a {
      color: white;
      font-size: 24px;
      line-height: 48px;
      font-weight: bold;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.contents {
  padding-left: 10px;
  padding-right: 10px;
}
