@import "compass_load";

body {
  background-image: url(image_path('sitebg.jpg'));
  -webkit-text-size-adjust: 100%;
}

#site-title {
  color: white;
  margin-left: 20px;
  span {
    font-size: larger;
    color: #ff6633;
    letter-spacing: -8px;
  }
}

footer {
  color: white;
}

#main {
  color: #222;
  background-color: #EDEAEB;
  @include zurui-box-emboss;
  @include clearfix;

  margin: {
    left: 10px;
    right: 10px;
  }

  padding-bottom: 10px;
}
#login {
  color: #66FF66;
  position: absolute;
  top: 8px;
  right: 10px;
}

$small-menu-height: 24px;
$middle-menu-height: 36px;
$large-menu-height: 48px;

ul.nav {
  @include zurui-gradient-top-darken;
  @include zurui-line-bottom;
  @include horizontal-list;

  @media #{$small} {
    height: $small-menu-height;
  }
  @media #{$middle} {
    height: $middle-menu-height;
  }
  @media #{$large} {
    height: $large-menu-height;
  }

  li {
    @include zurui-line-right;

    vertical-align: middle;

    @media #{$small} {
      height: $small-menu-height;
    }
    @media #{$middle} {
      height: $middle-menu-height;
    }
    @media #{$large} {
      height: $large-menu-height;
    }

    a {
      color: white;
      font-weight: bold;

      @media #{$small} {
        font-size: 12px;
        padding-left: 4px;
        padding-right: 4px;
        height: $small-menu-height;
        line-height: $small-menu-height;
      }
      @media #{$middle} {
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
        height: $middle-menu-height;
        line-height: $middle-menu-height;
      }
      @media #{$large} {
        font-size: 24px;
        padding-left: 16px;
        padding-right: 16px;
        height: $large-menu-height;
        line-height: $large-menu-height;
      }
    }
  }
}

.contents {
  padding-left: 10px;
  padding-right: 10px;
}

#player-layer {
  @include zurui-gradient-top-darken;
  z-index: 999;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: fixed;
  top: 0px;
  left: 0px;
}
