// Place all the styles related to the pasokaras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass_load";

#pasokara-list {
  @media #{$small} {
    padding-left: 4px;
  }
  @media #{$middle} {
    padding-left: 8px;
  }
  @media #{$large} {
    padding-left: 20px;
  }
}

.pasokara {
  @include box-shadow(black 2px 2px 10px);
  @include border-radius(8px);
  background-color: #FAFAFA;
  @media #{$small} {
    width: 260px;
  }
  @media #{$middle} {
    width: 480px;
  }
  @media #{$large} {
    width: 480px;
  }
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  vertical-align: top;
  position: relative;

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    padding: 8px;
    @include border-top-left-radius(8px);
    @include border-top-right-radius(8px);
    @include zurui-gradient-top-darken;

    a {
      color: white;
    }
  }

  .thumb {
    @include clearfix;
    margin: 10px;
    float: left;
    width: 160px;
    height: 120px;
  }

  .info-box {
    @include clearfix;
  }

  .inner-info-box {
    @include clearfix;
    @include zurui-box-deboss;
    float: right;
    width: 260px;
    @media #{$small} {
      margin: 0px;
    }
    @media #{$middle} {
      margin-right: 10px;
    }
    @media #{$large} {
      margin-right: 10px;
    }
  }

  .tag-box {
    @include zurui-line-bottom;
  }

  .tag-box, .meta-info-box, .add-favorite {
    padding-top: 10px;
    padding-bottom: 10px;
    @media #{$small} {
      padding-left: 4px;
    }
  }

  .info-value {
    margin-left: 4px;
  }

  .favorite {
    cursor: pointer;
  }

  .unfavorite {
    color: #FF6666;
    cursor: pointer;

    &:hover {
      color: #FF9999;
    }
  }
}


#pasokara-preview-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#pasokara-preview {
  text-align: center;
}
