@import "compass_load";

#search {
  margin-top: 20px;

  .ember-text-field {
    @media #{$small} {
      width: 200px;
    }
    @media #{$middle} {
      width: 360px;
    }
    @media #{$large} {
      width: 360px;
    }
    margin-bottom: 0;
  }
}
