@import "compass_load";

#song_queue-list {
  padding-left: 10px;
  padding-right: 10px;
}

#playing {
  padding-left: 10px;
  padding-right: 10px;
}

.song_queue {
  @include zurui-box-deboss;
  @include border-radius(8px);
  background-color: #FAFAFA;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;

  .title {
    @include zurui-ts-000;
    min-width: 400px;
    width: 75%;
    display: inline-block;
  }

  .destroy {
    margin-left: 20px;
  }

  #playing & {
    background-color: #AAFAAA;
  }
}
