@import "compass/utilities";
@import "compass/css3";
@import "zurui-sass";

#facet-tags {
  margin-top: 20px;
  padding: 10px;
  background-color: #FAFAFA;
  @include zurui-box-emboss;
}

.facet-tag {
  margin-left: 10px;
  line-height: 120%;
  color: #0088cc;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
